# X (Formerly Twitter) sentiment analysis

This is part of my process of learning NLP. I will be applying different algorithms to find sentiments from previously unseen data.

## Import libraries

In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/adityasingh/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Load data

In [2]:
data = pd.read_csv("./data/train.csv")

In [3]:
data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

## Preprocessing of the data

### NULL/NA values removal

In [24]:
print(f"Any NA/NULL values?\n\n {data.isna().sum()}")

Any NA/NULL values?

 textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

We can see that there are few (1 to be precise) NULL/NA values in the dataset. Since, the number is very small we will drop those rows.

In [16]:
data.dropna(inplace=True)

In [17]:
data.describe().T

               count unique                                   top   freq
textID         27480  27480                            cb774db0d1      1
text           27480  27480   I`d have responded, if I were going      1
selected_text  27480  22463                                  good    199
sentiment      27480      3                               neutral  11117

In [22]:
print(f"Unique sentiment types in the data are: {data.sentiment.unique()}")

Unique sentiment types in the data are: ['neutral' 'negative' 'positive']

In [21]:
print(f"Total samples for each sentiment is: \n{data.sentiment.value_counts()}")

Total samples for each sentiment is:
neutral     11117
positive     8582
negative     7781
Name: sentiment, dtype: int64